<div class="container">
  <div class="heading">
    <h2>Timer</h2>
  </div>  <div class="input-group">
    <button (click)="startTimer()">Start</button>
    <button (click)="stopTimer()">Stop</button>
  </div>
  <div class="input-group">
    <!-- Eingabefeld für die Startzeit (HH:mm), deaktiviert wenn der Timer läuft -->
    <input 
      type="time" 
      id="startTime" 
      [(ngModel)]="timeInput"
      (change)="setTimer()"
      [disabled]="running"
    />
    <button (click)="resetTimer()">Reset</button>
  </div>

</div>